HOME/index.css
HOME/index.html
HOME/main.js
HOME/images/.DS_Store
HOME/images/container/Reber Grammar.svg
HOME/images/home page/im Rahmen des Moduls “Theoretische Informatik”.svg
HOME/images/home page/von Ekaterina Kalina.svg
HOME/images/home page/Willkommen.svg
HOME/images/home page/[component_lottie_https_/assets8.lottiefiles.com/packages/lf20_mymcy4zr.json].svg
HOME/images/nav buttons/About.svg
HOME/images/nav buttons/DEA.svg
HOME/images/nav buttons/Grammatik.svg
HOME/images/nav buttons/Kellerautomat.svg
HOME/images/nav buttons/THEORETISCHE INFORMATIK.svg
HOME/images/nav buttons/TM.svg
HOME/index.css
HOME/index.html
HOME/main.js
HOME/images/.DS_Store
HOME/images/container/Reber Grammar.svg
HOME/images/home page/im Rahmen des Moduls “Theoretische Informatik”.svg
HOME/images/home page/von Ekaterina Kalina.svg
HOME/images/home page/Willkommen.svg
HOME/images/home page/[component_lottie_https_/assets8.lottiefiles.com/packages/lf20_mymcy4zr.json].svg
HOME/images/nav buttons/About.svg
HOME/images/nav buttons/DEA.svg
HOME/images/nav buttons/Grammatik.svg
HOME/images/nav buttons/Kellerautomat.svg
HOME/images/nav buttons/THEORETISCHE INFORMATIK.svg
HOME/images/nav buttons/TM.svg
