*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

/* Navigation */
.nav-container {
  background: #5D4954;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrapper a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  color: #F3EAEA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 72px;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}
.nav-items li a {
  color: #F3EAEA;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: 600ms;
}

.nav-items li a:hover {
  transform: translateY(-5px);
}


.nav-items li b {
  color: #1a1616;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
}


/* About */

.container {
    background: #E2DDDD;
    height: calc(110vh - 70px);
    display: flex;
}

article {
  font-size: 25px;
}

h2 {
  font-size: 30px;
  padding: 5%
}

.subheader {
  font-size: 24px;
  padding: 2%;
}

.word {
  padding: 2%;
  font-size: 28px;
}

hr {
  color: #5D4954;
  border: 2px solid #5D4954;
  filter: blur(4px);
}

#p1{
   padding: 3%;
}

#p2{
  padding: 3%;
}


#p3{
  padding: 3%;
}


#p4{
  padding: 3%;
}


#p5{
  padding: 3%;
}


