*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

/* Navigation */
.nav-container {
  background: #5D4954;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrapper a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  color: #F3EAEA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 72px;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}
.nav-items li a {
  color: #F3EAEA;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: 600ms;
}

.nav-items li a:hover {
  transform: translateY(-5px);
}


.nav-items li b {
  color: #1a1616;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
}


  /* DEA: Reber Grammar */
  /* Container */
  .container {
    background: #E2DDDD;
    height: calc(110vh - 70px);
    display: flex;
    align-items: center;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

   
  /* Header */
  .container h1 {   
      position:absolute;
      font-weight: normal;
      font-size: 45px;
      line-height: 55px;
      color: #443B3B;
      left: +19%;
      top: +12%;
      stroke: #443B3B(0, 0, 0, 0.25);
  }


  /* Richtige Buttons */
  .buttons_richtig {
    position: absolute;
    right: 12%;
    top: 30%;
  }

  .buttons_richtig li{
    cursor: pointer;
    display: block;
    list-style: none;
    transition: .4s ease-in-out;
  }

  .buttons_richtig li:hover {
    transform: translate(10px);

  }

  .button_beispiel_richtig {
    position: absolute;
    left: 62%;
    top: 23%;
  }

  .button_beispiel_richtig li {
    padding: 0 0;
    cursor: pointer;
    list-style: none;
    transition: .4s ease-in-out;
  }

  .button_beispiel_richtig li:hover {
    transform: translate(8px);
  }



  /* Falsche Buttons */
  .buttons_falsch {
    position: absolute;
    left: 82%;
    top: 30%;
  }

  .buttons_falsch li {
    cursor: pointer;
    display: block;
    transition: .4s ease-in-out;
    list-style: none;
  }

  .buttons_falsch li:hover {
    transform: translate(10px);
  }

  /* Animation */

.animation_container {
    position: relative;
    transform: translate(+5%, +1%);
  }

.animation_container img {
    width: 1203px;
    height: 854px;
}

svg {
  animation-duration: 2s;
}








