*{
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  background: #E2DDDD;
  color: #443B3B;
}

/*---------------------------------------- Navigation ----------------------------------------*/

/*----------------- Navigation bar -----------------*/
.nav-container {
  background: #5D4954;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 


/*----------------- Wrapper -----------------*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*----------------- Links styling -----------------*/
.wrapper a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 30px;
  color: #F3EAEA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 72px;
}


nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

/*----------------- Active links -----------------*/
.nav-items li a {
  color: #F3EAEA;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: 600ms;
}

/*----------------- Hover function -----------------*/
.nav-items li a:hover {
  transform: translateY(-5px);
}


/*----------------- Disabled links! -----------------*/
.nav-items li b {
  color: #1a1616;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
}

/*---------------------------------------- Main container ----------------------------------------*/

/*----------------- Main container without navigation -----------------*/
.main_container {
  height: calc(110vh - 70px);
  display: flex;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*----------------- Regel-Box -----------------*/
.regel_box {
  position: absolute;
  width: 1502px;
  height: 755px;
  left: 200px;
  top: 200px;
  background: linear-gradient(90deg, #FDFCFC 50%, #C4C4C4 50%);
  border-radius: 64px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*----------------- Regel-Box: headings -----------------*/
.regel_box h2 {
  font-size: 30px;
}

h1 {
  position:absolute;
  font-size: 50px;
  transform: translate(670px, -400px);
}

#h2_1 {
  text-align: left;
  transform: translate(300px, 20px);
} 

#h2_2 {
  text-align: right;
  transform: translate(-230px,-250px);
} 

/*----------------- Regel-Box: main font -----------------*/
.regel_box p {
  padding: 10px;
  font-size: 25px;
  right: 20px;
}

.regel_box_text {
  transform: translate(20px, 70px);
}



/*----------------- Regel-Box: left side -----------------*/
.ausdruck_container {
  position: absolute;
  background-color: #FDFCFC;
  border-radius: 15px;
  right: 0px;
  transform: translate(-50px,-200px);
  width: 650px;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ausdruck {
  padding-bottom: 45px;
}


#generiere_ausdruck {
  position: absolute;
  right: 0px;
  transform: translate(-200px,-70px);
  font-size: 35px;
  font-weight: bolder;
}


.schritte_container {
  position: absolute;
  background-color: #FDFCFC;
  border-radius: 15px;
  right: 0px;
  transform: translate(-50px,-60px);
  width: 650px;
  height: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#produktionsschritte {
  position: absolute;
  right: 0px;
  font-weight: bolder;
  transform: translate(0px,-5px);
  font-size: 22px;
}

/*----------------- Regel-Box: right side -----------------*/

.vokabular {
  position: absolute;
  font-weight: bold;
  font: 55px;
  padding-top: 60px;
  word-spacing: 12px;
  transform: translate(10px,60px);
}

.vokabular p {
  padding: 20px;
}


/*------------------------- Buttons ----------------------*/
button {
  position: relative;
  border-radius: 25px;
  color: #443B3B;
  font-size: 18px;
  margin-top: 40px;
}


.button_container {
  position: absolute;
  right: 0px;
  transform: translate(-270px,180px);
}


#richtig {
  background: #8BCDAB;
  width: 219px;
  height: 106px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
}

#falsch {
  position: absolute;
  background: #F58A8A;
  width: 219px;
  height: 106px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  }


.button_org {
    position: absolute;
    right: 0px;
    transform: translate(-510px, 110px);
}


#stop {
  position: absolute;
  right: 0px;
  transform:translate(0px, 70px);
  background: #F58A8A;
  width: 179px;
  height: 49px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  color: #FDFCFC;
  font-weight: bold;
}

#tech_stack {
  position: absolute;
  right: 0px;
  transform:translate(0px, 140px);
  background: #7696CD;
  width: 179px;
  height: 49px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  color: #FDFCFC;
  font-weight: bold;
}

.slider_box {
  position: absolute;
  right: 0px;
  transform: translate(-140px,350px);
}

.slider_box #slider {
  width: 250px;
}


/*----------------- Text Dokumentation -----------------*/

#alert_text {
  display: none;
}

