*{
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  background: #E2DDDD;
  color: #443B3B;
}

/*---------------------------------------- Navigation ----------------------------------------*/

/*----------------- Navigation bar -----------------*/
.nav-container {
  background: #5D4954;
  height: 70px;
} 


/*----------------- Wrapper -----------------*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/*----------------- Links styling -----------------*/
.wrapper a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 30px;
  color: #F3EAEA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 72px;
}


nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate(5px,10px)
}

.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

/*----------------- Active links -----------------*/
.nav-items li a {
  color: #F3EAEA;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: 600ms;
}

/*----------------- Hover function -----------------*/
.nav-items li a:hover {
  transform: translateY(-5px);
}


/*----------------- Disabled links! -----------------*/
.nav-items li b {
  color: #1a1616;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
}


/*---------------------------------------- Main container ----------------------------------------*/
.main_container {
  position: fixed; 
  background: #E2DDDD;
  height: calc(110vh - 70px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  }


/*-Headings--*/
h1 {
  position: absolute;
  letter-spacing: 0.2em;
  border: 1px solid #443B3B;
  font-weight: normal;
  font-size: 35px;
  top: +50px;
  left: +760px;
  justify-content: center;
  align-content: center;
}


.keller_feld {
  position: fixed;
  width: 1815px;
  height: 300px;
  background: #FDFCFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 64px;
  justify-content: center;
  align-content: center;
  left: +40px;
  top: +200px;
}

.keller_feld p {
  position:relative;
  font-size: 20px;
  font-weight: bolder;
  top: +30px;
  right: -100px;
}


#node_q0 {
  position: absolute;
  width: 83px;
  height: 81px;
  background: #443B3B;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FDFCFC;
  font-size: 40px;
  text-align-last: center;
  right: +1240px;
  top: +120px;
  flex-basis: auto;
}


#node_q1 {
  position: absolute;
  width: 83px;
  height: 81px;
  background: #443B3B;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FDFCFC;
  font-size: 40px;
  text-align-last: center;
  right: +900px;
  top: +120px;
   flex-basis: auto;
}

#node_q2 {
  position: absolute;
  width: 83px;
  height: 81px;
  background: #443B3B;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FDFCFC;
  text-align-last: center;
  font-size: 40px;
  right: +460px;
  top: +120px;
}

#node_q3 {
  position: absolute;
  width: 83px;
  height: 81px;
  background: #443B3B;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FDFCFC;
  font-size: 40px;
  text-align-last: center;
  right: +120px;
  top: +120px;
}

.keller_unten {
  position: absolute;
  bottom: 300px;
  flex-wrap: wrap;
}

#keller_tabelle {
  position: absolute;
  background-color: #A59C9C;
  color: #443B3B;
  left: 550px;
  bottom: -185px;
  font-size: 20px;
  font-weight: lighter;
  width: 400px;
  height: 350px;
}

#table_top {
  background-color: #443B3B;
  color: #FDFCFC;
  font-weight: lighter;
}

#edge1 {
  position:absolute;
  font-weight: bolder;
  font-size: 25px;
  left: +660px;
  top: 110px;

}

#edge2 {
  position:absolute;
  font-weight: bolder;
  font-size: 25px;
  left: +930px;
  top: 50px;
}

#edge3 {
  position:absolute;
  font-weight: bolder;
  font-size: 25px;
  left: +1030px;
  top: 110px;
}

#edge4 {
  position:absolute;
  font-weight: bolder;
  font-size: 25px;
  left: +1370px;
  top: 50px;
}

#edge5 {
  position:absolute;
  font-weight: bolder;
  font-size: 25px;
  left: +1440px;
  top: 110px;
}

#edge6  {
  position:absolute;
  font-weight: lighter;
  letter-spacing: 1px;
  left: +895px;
  top: 160px;
}

#edge6 p {
  font-size: 25px;
}


#arrow1 {
  position: relative;
  width: 15%;
  transform: translate(563px,-160px);
}

#arrow2 {
  transform: translate(580px,-200px);
}

#arrow3{
  width: 20%;
  transform: translate(542px,-160px);
}

#arrow4 {
  transform: translate(560px,-200px);
}

#arrow5 {
  width: 15%;
  transform: translate(515px,-160px);
}

#arrow6 {
  width: 20%;
  transform: translate(-193px,-130px);
}


.button_container button{
  transform: translate(1050px,150px);
  flex-wrap: wrap;
  font-size: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ausdruck_container {
  transform: translate(1050px,150px);
  width: 450px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#state_container {
  transform: translate(1050px,155px);
  width: 450px;
  height: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#play_richtig {
  background-color: #8BCDAB;
  border-color: #8BCDAB;
  font-weight: bold;
}

#play_falsch {
  background-color: #F58A8A;
  border-color: #F58A8A;
  font-weight: bold;
}

.slider_box {
  transform: translate(1300px,130px);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5D4954;
    color: white;
    text-align: center;
}

#alert_text {
  display:none;
}










